@page
@model AS2_WEB.Pages.Partnerships.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Partnership</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Partnership.partnershipID" />
            <div class="form-group">
                <label asp-for="Partnership.name" class="control-label"></label>
                <input asp-for="Partnership.name" class="form-control" />
                <span asp-validation-for="Partnership.name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Partnership.sender" class="control-label"></label>
                <input asp-for="Partnership.sender" class="form-control" />
                <span asp-validation-for="Partnership.sender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Partnership.receiver" class="control-label"></label>
                <input asp-for="Partnership.receiver" class="form-control" />
                <span asp-validation-for="Partnership.receiver" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Partnership.implementation_flavour" class="control-label"></label>
                <input asp-for="Partnership.implementation_flavour" class="form-control" />
                <span asp-validation-for="Partnership.implementation_flavour" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Partnership.pollerConfig" class="control-label"></label>
                <input asp-for="Partnership.pollerConfig" class="form-control" />
                <span asp-validation-for="Partnership.pollerConfig" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="#partnerships">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
